<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><div class="well">Welcome to CodeKul</div></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" (click)="onBtnClick()" value="First" class="btn btn-primary"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input type="button" (click)="onSecondBtnClick()" value="Second" class="btn btn-primary"/>
      <a [routerLink]="['second','400']" [queryParams]="{'myName':'apple'}" >Second</a>
    </div>
  </div>
</div>